.card-box {
    border: 1px solid #888888;
    cursor: pointer;
    padding: 15px;
    margin: 2px 8px 8px 2px;
    box-shadow: 2px 2px 10px #888888;
}

.card-box:hover { 
    margin: 0px 10px 10px 0px;
    box-shadow: 8px 8px 18px #888888; 
}